<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">
       <!-- 被代理的Bean -->
      <bean id="autoMobile" class="com.zz.spring.aop1.AutoMobile"></bean>
      <!-- Advice -->
      <bean id="carAdvice" class="com.zz.spring.aop1.CarAdvice"></bean>
      <!-- AOP 配置 -->  
      <aop:config>
      	<aop:aspect ref="carAdvice">
      		<aop:pointcut expression="execution(* *.drive(..))" id="pointcut"/>
      		<aop:before method="before" pointcut-ref="pointcut"/>
      		<aop:after method="after" pointcut-ref="pointcut"/>
      	</aop:aspect>
      </aop:config>
</beans>